# keymap
#setxkbmap -option ctrl:swapcaps
setxkbmap -option ctrl:nocaps

# Wallpaper
nitrogen --restore &

# Copositor
picom -f -r 10 -o 0.5 --experimental-backend &

# polybar
~/.config/polybar/launch.sh --forest
#polybar example &

#aplay Downloads/GLaDOS_00_part1_entry-1.wav &

oneko &

# IM setting
export GLFW_IM_MODULE=ibus
export GTK_IM_MODULE=ibus
export QT_IM_MODULE=ibus
export XMODIFIERS=@im=ibus

ibus-daemon --xim &
